.cardItem:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.cardItem.active {
  border: 3px solid black!important;
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

.cardCheckIcon.active {
  display: block!important;
}
